<mat-card>
    <mat-card-title>Excluir produtoFornecedor</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Preço" [(ngModel)]="produtoFornecedor.preco" name="Preco" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Produto" [(ngModel)]="produtoFornecedor.produto" name="Produto" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Quantidade" [(ngModel)]="produtoFornecedor.quantidadeEmEstoque" name="Quantidade" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Fornecedor" [(ngModel)]="produtoFornecedor.fornecedor" name="Fornecedor" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Data de Atualização" [(ngModel)]="produtoFornecedor.dataAtualizacao" name="atualizacao" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Data de Cadastro" [(ngModel)]="produtoFornecedor.dataCadastro" name="cadastro" disabled>
        </mat-form-field>
    </form>
</mat-card>
<button mat-raised-button (click)="deleteProdutoFornecedor()" color="warn">
Excluir
</button>

<button mat-raised-button (click)="cancel()">
Cancelar
</button>