<mat-card>
    <mat-card-title>Alterar avaliacao</mat-card-title>
    <form>
        <mat-form-field>
            <input (change)="mudou()" matInput placeholder="Nota" [(ngModel)]="avaliacao.nota" name="nota">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Comentario" [(ngModel)]="avaliacao.comentario" name="comentario">
        </mat-form-field>

    </form>
</mat-card>
<button mat-raised-button (click)="updateAvaliacao()" color="primary">
Atualizar
</button>

<button mat-raised-button (click)="cancel()">
Cancelar
</button>