<mat-card>
  <mat-card-title>Alterar Produto</mat-card-title>
  <form>
      <mat-form-field>
          <input matInput placeholder="Nome"
          [(ngModel)] = "produto.nome" name= "nome">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Preço (R$)"
        [(ngModel)] = "produto.preco" name = "preco">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Quantidade"
      [(ngModel)] = "produto.quantidade" name = "quantidade">
  </mat-form-field>

  </form>
</mat-card>
<button mat-raised-button (click)="updateProduct()" color="primary">
Atualizar
</button>

<button mat-raised-button (click)="cancel()">
Cancelar
</button>
