<mat-card>
    <mat-card-title>Excluir pedido</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="preco"
            [value]= "pedido.preco" name="preco" disabled>
        </mat-form-field>

        <!-- <mat-form-field>
            <input matInput placeholder="Preço (R$)" [value]="pedido.preco" name="preco" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Quantidade" [value]="pedido.quantidade" name="quantidade" disabled>
        </mat-form-field> -->

    </form>
</mat-card>
<button mat-raised-button (click)="deleteprodutoFornecedor()" color="warn">
Excluir
</button>

<button mat-raised-button (click)="cancel()">
Cancelar
</button>
