<mat-card>
    <mat-card-title>Excluir pedido</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="ID" [(ngModel)]="pedido.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="preco" name="preco" disabled>
        </mat-form-field>

    </form>
</mat-card>
<button mat-raised-button (click)="deletePedido()" color="warn">
Excluir
</button>

<button mat-raised-button (click)="cancel()">
Cancelar
</button>