<h4 class="text-center">Login</h4>

<form class="form mt-4">

  <div class="form-group">
    <input formControlName="username"
    class="form-control"
    placeholder="username" autofocus>
<!--     <small
      *ngIf="loginForm.get('userName').errors.required"
      class="text-danger d-block mt-2">
      User name is required!
    </small> -->
  </div>

  <div class="form-group">
    <input formControlName="password"
      type="password"
      class="form-control"
      placeholder="password">

<!--     <small
      *ngIf="loginForm.get('password').errors?.required"
       class="text-danger d-block mt-2">
       Password is required!
    </small> -->

  </div>

  <button [disabled]="loginForm" type="submit" class="btn btn-primary btn-block">login</button>
</form>

<section>
  <p>Não tem usuário?<a> Se Registre!</a></p>
</section>

<div class="example-button-row">
  <a href="/usuario/create">
    <button m mat-raised-button color="primary">Registrar</button>
  </a>
</div>
