<mat-card>
    <mat-card-title>Novo usuario</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="Usuario.nome" name="nome">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="Usuario.email" name="email">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Senha" [(ngModel)]="Usuario.senha" password="password">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Cnpj/Cpf" [(ngModel)]="Usuario.cnpjCpf" name="cnpjCpf">
        </mat-form-field>

    </form>
</mat-card>
<button mat-raised-button (click)="CreateUsuario()" color="primary">
  Salvar
</button>

<button mat-raised-button (click)="cancel()">
  Cancelar
</button>
