<mat-card>
    <mat-card-title>Alterar itemPedido</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="itemPedido.pedido" name="pedido">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="E-mail" [(ngModel)]="itemPedido.produto" name="produto">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Cnpj/Cpf" [(ngModel)]="itemPedido.quantidade" name="quantidade">
        </mat-form-field>
    </form>
</mat-card>
<button mat-raised-button (click)="updateItemPedido()" color="primary">
Atualizar
</button>

<button mat-raised-button (click)="cancel()">
Cancelar
</button>