<mat-card>
    <mat-card-title>Novo avaliacao</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nota"
            [(ngModel)] = "avaliacao.nota" name= "nota">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Comentario"
          [(ngModel)] = "avaliacao.comentario" name= "comentario">
      </mat-form-field>

    </form>
</mat-card>
<button mat-raised-button (click)="Createavaliacao()" color="primary">
  Salvar
</button>

<button mat-raised-button (click)="cancel()">
  Cancelar
</button>
