<mat-card>
    <mat-card-title>Excluir itemPedido</mat-card-title>
    <form>
        <form>
            <mat-form-field>
                <input matInput placeholder="Produto" [(ngModel)]="itemPedido.produto" name="produto">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Quantidade" [(ngModel)]="itemPedido.quantidade" name="quantidade">
            </mat-form-field>
        </form>
    </form>
</mat-card>
<button mat-raised-button (click)="deleteItemPedido()" color="warn">Excluir</button>
<button mat-raised-button (click)="cancel()">Cancelar</button>