<mat-card>
    <mat-card-title>Excluir itemPedido</mat-card-title>
    <form>
        <form>
            <mat-form-field>
                <input matInput placeholder="Nome" [(ngModel)]="itemPedido.pedido" name="pedido" disabled>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="E-mail" [(ngModel)]="itemPedido.produto" name="produto" disabled>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Cnpj/Cpf" [(ngModel)]="itemPedido.quantidade" name="quantidade" disabled>
            </mat-form-field>
        </form>
    </form>
</mat-card>
<button mat-raised-button (click)="deleteItemPedido()" color="warn">
Excluir
</button>

<button mat-raised-button (click)="cancel()">
Cancelar
</button>