<mat-card>
    <mat-card-title>Novo Endereco</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="Endereco.nome" name="nome">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="Endereco.preco" name="preco">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Quantidade" [(ngModel)]="Endereco.quantidade" name="quantidade">
        </mat-form-field>

    </form>
</mat-card>
<button mat-raised-button (click)="CreateEndereco()" color="primary">
  Salvar
</button>

<button mat-raised-button (click)="cancel()">
  Cancelar
</button>