<mat-card>
    <mat-card-title>Excluir avaliação</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nota" [(ngModel)]="avaliacao.nota" name="nota" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Comentario" [(ngModel)]="avaliacao.comentario" name="comentario" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Pedido" [(ngModel)]="avaliacao.pedido" name="pedido" disabled>
        </mat-form-field>

    </form>
</mat-card>
<button mat-raised-button (click)="deleteAvaliacao()" color="warn">
Excluir
</button>

<button mat-raised-button (click)="cancel()">
Cancelar
</button>