<div class="mat-elevation-z4">
    <table mat-table [dataSource]="produtoFornecedor">

        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="produto">
            <th mat-header-cell *matHeaderCellDef>Produto</th>
            <td mat-cell *matCellDef="let row">{{row.produto}}</td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="preco">
            <th mat-header-cell *matHeaderCellDef>Preço</th>
            <td mat-cell *matCellDef="let row">{{row.preco}}</td>
        </ng-container>

        <!-- Quant Column -->
        <ng-container matColumnDef="quantidadeEmEstoque">
            <th mat-header-cell *matHeaderCellDef>Quantidade</th>
            <td mat-cell *matCellDef="let row">{{row.quantidadeEmEstoque}}</td>
        </ng-container>

        <!-- Fornecedor Column -->
        <ng-container matColumnDef="fornecedor">
            <th mat-header-cell *matHeaderCellDef>Fornecedor</th>
            <td mat-cell *matCellDef="let row">{{row.fornecedor}}</td>
        </ng-container>

        <ng-container matColumnDef="dataCadastro">
            <th mat-header-cell *matHeaderCellDef>Data de Cadastro</th>
            <td mat-cell *matCellDef="let row">{{row.dataCadastro}}</td>
        </ng-container>

        <ng-container matColumnDef="dataAtualizacao">
            <th mat-header-cell *matHeaderCellDef>Data de Atualização</th>
            <td mat-cell *matCellDef="let row">{{row.dataAtualizacao}}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let row">
                <a routerLink="/produtoFornecedor/update/{{row.id}}" class=edit><i class="material-icons">edit</i></a>
                <a routerLink="/produtoFornecedor/delete/{{row.id}}" class=delete><i class="material-icons">delete</i></a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>