<mat-card>
    <mat-card-title>Alterar cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="cliente.nome" name="nome">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="E-mail" [(ngModel)]="cliente.email" name="email">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Cnpj/Cpf" [(ngModel)]="cliente.cnpjCpf" name="cnpjCpf">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="senha" [(ngModel)]="cliente.senha" name="senha">
      </mat-form-field>

    </form>
</mat-card>
<button mat-raised-button (click)="updatecliente()" color="primary">
Atualizar
</button>

<button mat-raised-button (click)="cancel()">
Cancelar
</button>